.container {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to right, rgba(195, 20, 50, 1),
		rgba(36, 11, 54, 1));
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

